.custom-tag {
  margin-right: 5px;
  cursor: pointer;
  background-color: #5bc0de;
  line-height: 2;
}

.custom-tag:hover {
  background-color: #337ab7;
}

.table-word-break {
  word-break:break-all;
  word-wrap:break-word;
}

.margin-top-10 {
  margin-top: 10px
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.x-large-font-size {
  font-size: x-large;
}

.text-left {
  float: left;
}

.view-option {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBwUHJDdevG4nAAAAYUlEQVQ4y+2UsQ3AIBADj/86kbL/KuwAG8AGkUKNyAC4oUgRCX/nk6UvLENkTJcwjCRIDAyULuBWwFjUDnwUyMKtNBpVkBwwzsludMA5JvIsv4SsWMFxiqrlLt9PA6zOzAvbKUvOgjo0kAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNy0wNVQwNzozNjo1NSswMjowMKoD1sQAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDctMDVUMDc6MzY6NTUrMDI6MDDbXm54AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-mode-button {
  backgroundColor: transparent;
  padding: 0px 0px 0px 0px;
}

.image-mode-dropdown {
  margin-left: 6px;
  margin-top: 4px
}

.image-mode-view-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-style: solid;
  margin-right: 2px
}

.dropdown-menu {
  min-width: 100px;
}

.graph-option-active {
  background-color: #d0c9c9;
}

.small-font-size {
  font-size: small;
}